table {
    width:100%;
}

th {
    padding: 10px;
    text-align: left;
}
td
{
  padding: 10px;
  text-align: top;
}
table#t01 tr:nth-child(even) {
    background-color: #eee;
    
}
table#t01 tr:nth-child(odd) {
   background-color:#fff;
}
table#t01 th {
    background-color: #232f3e;
    color: white;
}

